
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LinvoDB sample</title>
	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="bundle.js"></script>
		<script src="sample.js"></script>
	</head>
	
	<body ng-app="todo" ng-controller="todoList">
		<h1>TODOs</h1>
		<h2>incomplete: {{incomplete.res}}</h2>

		<!-- List of all tasks -->
		<ul>
			<li ng-repeat="task in tasks.res track by $id(task._id)">
				<input type="checkbox" ng-model="task.completed" ng-click="task.save()">
				{{task.name}}
			</li>
		</ul>

		<hr>

		<!-- Create/edit and save task -->
		<form ng-submit="selected.save(); newTask()">
			<span>Task name:</span>
			<input ng-model="selected.name">
			<input type="submit" value="{{ selected._id ? 'Save' : 'Add' }}">
		</form>

		<button ng-click="newTask()">New task</button>
	</body>
</html>
